/*
|=============================================================================================================
| Imports
|=============================================================================================================
*/

/* Wordmark Font */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Fonts/DiscordFont.css);

/* DiscordRecolor */
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css);

/*
|=============================================================================================================
| DiscordRecolor
|=============================================================================================================
*/

/**
 * @name DiscordRecolor
 * @description Allows you to customize Discord's native Color Scheme
 * @author DevilBro
 * @version 1.0.0
 * @authorId 278543574059057154
 * @invite Jx3TjNS
 * @donate https://www.paypal.me/MircoWittrien
 * @patreon https://www.patreon.com/MircoWittrien
 * @website https://mwittrien.github.io/
 * @source https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/DiscordRecolor/
 * @updateUrl https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.theme.css
 */

/* To change the colors, change the variables inside the root {}, do NOT change the @import url() */

/* All colors are in RGB format (red, green, blue) use: https://www.google.com/search?q=colorpicker */

:root {
  --font: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif; /* General Font */
  --settingsicons: 1; /* Use Settings Icons in User/Server/Channel Settings: 1 = yes, 0 = no */
  
  --accentcolor:            255,   0, 255; /* Blurple ............... default: 114, 137, 218 - hex: #7289DA */
  --accentcolor2:            60,  60,  60; /* Boostpink ............. default: 255, 115, 250 - hex: #FF73FA */
  --linkcolor:              255,   0, 255; /* Link Color ............ default:   0, 176, 244 - hex: #00B0F4 */
  --mentioncolor:           250, 166, 250; /* Highlight ............. default: 250, 166,  26 - hex: #FAA61A */
  
  --textbrightest:          255, 255, 255; /* Text Color 1 .......... default: 255, 255, 255 - hex: #FFFFFF */
  --textbrighter:           222, 222, 222; /* Text Color 2 .......... default: 220, 221, 222 - hex: #DCDDDE */
  --textbright:             185, 185, 185; /* Text Color 3 .......... default: 185, 187, 190 - hex: #B9BBBE */
  --textdark:               140, 140, 140; /* Text Color 4 .......... default: 142, 146, 151 - hex: #8E9297 */
  --textdarker:             115, 115, 115; /* Text Color 5 .......... default: 114, 118, 125 - hex: #72767D */
  --textdarkest:             80,  80,  80; /* Text Color 6 .......... default:  79,  84,  92 - hex: #4F545C */
  
  --backgroundaccent:        40,  40,  40; /* Background Accent ..... default:  64,  68,  75 - hex: #40444B */
  --backgroundprimary:       10,  10,  10; /* Background 1 .......... default:  54,  57,  63 - hex: #36393F */
  --backgroundsecondary:     15,  15,  15; /* Background 2 .......... default:  47,  49,  54 - hex: #2F3136 */
  --backgroundsecondaryalt:  25,  25,  25; /* Background 3 .......... default:  41,  43,  47 - hex: #292B2F */
  --backgroundtertiary:       0,   0,   0; /* Background 4 .......... default:  32,  34,  37 - hex: #202225 */
  --backgroundfloating:      25,  25,  25; /* Background Elevated ... default:  24,  25,  28 - hex: #18191C */
}

/*
|=============================================================================================================
| Additional Recoloring
|=====================================================================================================#========
*/

/* Brighten expanded folder background */
.expandedFolderIconWrapper-3fmTfW {
  background-color: #202020;
}

/* Transparent magenta folder background on hover */
.expandedFolderIconWrapper-3fmTfW:hover {
  background-color: #FF00FF66;
}

/* Recolor folder icons */
.expandedFolderIconWrapper-3fmTfW > svg {
  color: magenta !important;
}

/* Recolor closed folder background color */
.folderIconWrapper-1Ml_1q {
  background-color: #FF00FF66 !important;
}

/* Brighten day divider */
.divider-3_HH5L {
  background-color: #202020;
}

/* Recolor close button hover */
[aria-label="Close"]:hover {
  background-color: magenta;
}

/* Recolor "Add A Server" and "Explore Public Servers" buttons */
.circleIconButton-1XqULR.circleButtonBase-33sh5_ {
  color: magenta;
  background-color: #151515;
}
.circleIconButton-1XqULR.circleButtonBase-33sh5_.selected-2jcQaY {
  color: white;
  background-color: magenta;
}

/* Recolor new message divider */
#---new-messages-bar {
  border-color: #FF99FF
}
#---new-messages-bar > span {
  background-color: #FF99FF;
  color: #000000;
}
#---new-messages-bar > span > svg > path {
  color: #FF99FF !important;
  fill: #FF99FF !important;
}
#---new-messages-bar > span.content-1o0f9g {
  color: #000000 !important;
}

/* Brighten spoiler boxes */
.spoilerText-3p6IlD.hidden-HHr2R9 {
  background: #181818 !important;
}

/* Brighten code blocks */
.markup-2BOw-j code {
  background: #181818;
}

/* Restore pink to booster badges */
.premiumIcon-1rDbWQ.icon-1A2_vz {
  color: #FF73FA !important;
}
.profileBadge-2niAfJ[src="/assets/4a2618502278029ce88adeea179ed435.svg"] {
  object-position: 0 !important;
}
.profileBadge-2niAfJ[src="/assets/ca18353be0e57a2b3b3132fa1c08d6b4.svg"] {
  object-position: 0 !important;
}

/*
|=============================================================================================================
| Hide Shit
|=============================================================================================================
*/

/* Hide Sticker Picker Tab */
#sticker-picker-tab {
  display: none;
}

/* Hide BD/Twitch Emote Picker Tab */
#bd-emotes-tab {
  display: none;
}

/* Hide Stage Discovery In Home Page */
#private-channels-1 {
  display: none;
}

/* Hide Nitro In Home Page */
#private-channels-2 {
  display: none;
}

/* Hide sticker button */
[aria-label="Open sticker picker"] {
  display: none;
}

/* Hide gift button */
[aria-label="Send a gift"] {
  display: none;
}

/* Hide welcome sticker prompt on user join message */
[class^="welcomeCTA"] {
  display: none;
}

/* Hide sticker prompt in new DM */
.containerCompact-18xElE {
  display: none;
}

/* Hide role icons next to names and fix spacing */
.roleIcon-1_1CJy.roleIcon-6hK8aK {
  display: none !important;
}
.headerText-3Uvj1Y.hasRoleIcon-1p-fAR {
  margin-right: .25rem !important;
}

/*
|=============================================================================================================
| Misc Edits
|=============================================================================================================
*/

/* Rainbow my girl's name */
[data-author-id="873003118529490997"] .contents-2mQqc9 .header-23xsNx .headerText-3Uvj1Y .username-1A8OIy {
  background-image: linear-gradient(to right, #FF6663, #FEB144, #FDFD97, #9EE09E, #9EC1CF, #A05BFD, #CC99C9, #FF6663); 
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
  animation: move 2000s linear infinite;
}

@keyframes move {
  to {
    background-position: 26000px;
  }
}

/* Replace Default Banners With Pride Banners */
.banner-2QYc2d {
  background: url('https://i.imgur.com/D2fsL3a.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

/* Make Stickers Emote Sized (Credit: Sai) */
[class^="assetWrapper"][style="height: 160px; width: 160px;"] {
  height: 48px !important;
  width: 48px !important;
}
